<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>RssReader-文章</title>
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/common.css">
    <link rel="stylesheet" href="../public/css/content.css">
</head>
<body>
    <section class="container">
        <h1 class="title">超赞！六个方法教你设计出实用美观的风格指南</h1>
        <section class="sub">
            <a class="author" href="javascript:;">优设</a>
            <time>16-01 12:01</time>
        </section>
        <article class="article">
            &emsp;这里a和case列表中从上而下逐一做比较，如果匹配就执行case中的代码，若有break则跳出，无break则继续往下匹配，直到新的匹配和break或switch代码块结束。
            注意：
            a和case值的匹配算法是执行严格相等比较的（‘===’），通常a和case的值都是简单值。

            case的值除了简单值之外，还可以是各种表达式，switch (a){...}中的a会和case中的表达式的结果值进行比较（“===”），由此，我们可以这样：
            icle class="article">
            &emsp;这里a和case列表中从上而下逐一做比较，如果匹配就执行case中的代码，若有break则跳出，无break则继续往下匹配，直到新的匹配和break或switch代码块结束。
            注意：
            a和case值的匹配算法是执行严格相等比较的（‘===’），通常a和case的值都是简单值。

            case的值除了简单值之外，还可以是各种表达式，switch (a){...}中的a会和case中的表达式的结果值进行比较（“===”），由此，我们可以这样：
            icle class="article">
            &emsp;这里a和case列表中从上而下逐一做比较，如果匹配就执行case中的代码，若有break则跳出，无break则继续往下匹配，直到新的匹配和break或switch代码块结束。
            注意：
            a和case值的匹配算法是执行严格相等比较的（‘===’），通常a和case的值都是简单值。

            case的值除了简单值之外，还可以是各种表达式，switch (a){...}中的a会和case中的表达式的结果值进行比较（“===”），由此，我们可以这样：
            icle class="article">
            &emsp;这里a和case列表中从上而下逐一做比较，如果匹配就执行case中的代码，若有break则跳出，无break则继续往下匹配，直到新的匹配和break或switch代码块结束。
            注意：
            a和case值的匹配算法是执行严格相等比较的（‘===’），通常a和case的值都是简单值。

            case的值除了简单值之外，还可以是各种表达式，switch (a){...}中的a会和case中的表达式的结果值进行比较（“===”），由此，我们可以这样：
            icle class="article">
            &emsp;这里a和case列表中从上而下逐一做比较，如果匹配就执行case中的代码，若有break则跳出，无break则继续往下匹配，直到新的匹配和break或switch代码块结束。
            注意：
            a和case值的匹配算法是执行严格相等比较的（‘===’），通常a和case的值都是简单值。

            case的值除了简单值之外，还可以是各种表达式，switch (a){...}中的a会和case中的表达式的结果值进行比较（“===”），由此，我们可以这样：
        </article>
    </section>

    <!-- toolbar -->
    <section class="bottom-toolbar">
        <div class="tool collection"></div>
        <div class="tool share"></div>
    </section>
    <!-- ./toolbar -->
</body>
</html>