<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RssReader-列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/common.css">
    <link rel="stylesheet" href="../public/css/list.css">
</head>
<body>
    <div class="searcher">
        <input type="text" placeholder="http://....">
        <div class="search-btn">
            <img src="../public/images/search-btn.png" alt="search" width="30" height="30">
        </div>
    </div>
    <div class="list-container">
        <ul class="list">
            <li>
                <a href="">
                    <h3>设计原则121212</h3>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. </p>
                    <span class="date">12-1 12:01</span>
                    <div class="right-director"></div>
                </a>
            </li>
            <li>
                <a href="">
                    <h3>设计原则121212</h3>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. </p>
                    <span class="date">12-1 12:01</span>
                    <div class="right-director"></div>
                </a>
            </li>
            <li>
                <a href="">
                    <h3>设计原则121212</h3>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. </p>
                    <span class="date">12-1 12:01</span>
                    <div class="right-director"></div>
                </a>
            </li>
            <li>
                <a href="">
                    <h3>设计原则121212</h3>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. </p>
                    <span class="date">12-1 12:01</span>
                    <div class="right-director"></div>
                </a>
            </li>
            <li>
                <a href="">
                    <h3>设计原则121212</h3>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. </p>
                    <span class="date">12-1 12:01</span>
                    <div class="right-director"></div>
                </a>
            </li>
            <li>
                <a href="">
                    <h3>设计原则121212</h3>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. </p>
                    <span class="date">12-1 12:01</span>
                    <div class="right-director"></div>
                </a>
            </li>
            <li>
                <a href="">
                    <h3>设计原则121212</h3>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. </p>
                    <span class="date">12-1 12:01</span>
                    <div class="right-director"></div>
                </a>
            </li>
            <li>
                <a href="">
                    <h3>设计原则121212</h3>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. </p>
                    <span class="date">12-1 12:01</span>
                    <div class="right-director"></div>
                </a>
            </li>
            <li>
                <a href="">
                    <h3>设计原则121212</h3>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. </p>
                    <span class="date">12-1 12:01</span>
                    <div class="right-director"></div>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>